<main class="px-[10%] py-16">
  <h2 class="mb-8">Create your workout routine</h2>
  <div class="flex flex-col w-full">
    <app-text-input placeholder="Workout name"></app-text-input>
    <textarea
      class="bg-tertiary border-none px-6 py-2 my-4"
      placeholder="Description"
    ></textarea>
  </div>
  <div *ngFor="let workoutSession of workoutSessions">
    <h3 class="my-12">Session {{ workoutSession.session }}</h3>
    <div class="flex flex-col border-l-2 border-secondary pl-4">
      <app-exercise
        *ngFor="let workoutExercise of workoutSession.exercises"
        [workoutExercise]="workoutExercise"
      ></app-exercise>
      <app-add-exercise (togglePopup)="togglePopup()"></app-add-exercise>
    </div>
  </div>
</main>
<app-popup
  *ngIf="showPopup"
  (closePopup)="togglePopup()"
  (exerciseSelected)="onExerciseSelected($event)"
></app-popup>
