<main class="px-[10%] py-20 flex flex-col">
  <div
    class="flex justify-between min-h-[calc(100vh-5rem)] items-center w-full"
  >
    <div class="w-3/5 pr-16">
      <h1>Welcome to WorkoutBuilder - Your Personalized Workout Builder</h1>

      <p class="mt-8">
        At Workoutbuilder, we believe that every body is unique and deserves a
        workout routine that is tailored to their specific needs and goals.
        That's why we created a free and easy-to-use workout builder tool that
        allows you to create the perfect routine for you.
      </p>

      <p class="mt-8">
        But we also understand that sometimes it can be overwhelming to come up
        with new workout ideas on your own. That's why we also offer a selection
        of community-created workouts that you can browse through and try out.
        No matter what your fitness level or goals are, we have something for
        everyone.
      </p>

      <p class="mt-8">
        Thank you for choosing WorkoutBuilder as your go-to resource for all things
        fitness. We can't wait to help you achieve your health and wellness
        goals!
      </p>
    </div>
    <img
      src="./assets/img/about.jpg"
      alt="A picture of a person doing a workout"
      class="max-h-[calc(100vh-5rem)] max-w-2/5"
    />
  </div>

  <div
    class="flex flex-col my-12 justify-between min-h-[calc(100vh-5rem)] items-center w-full"
  >
    <h2 class="my-8 text-6xl self-start">The developer</h2>
    <div class="flex items-center justify-between">
      <img
        src="https://picsum.photos/400/600"
        alt="A picture of a person doing a workout"
        class="w-[400px]"
      />
      <div class="w-3/5 pl-16">
        <h3>CARL Noé</h3>
        <p class="mt-4">
          As a passionate Frontend Developer, I am always looking for new
          opportunities to learn and improve. Currently, I am focusing on
          TypeScript and deepening my knowledge of React.js and Redux.js.
        </p>
        <p class="mt-4">
          In addition to my studies at the University of Lorraine, I have taken
          several online courses to develop my web development skills. I have
          also completed several personal projects, including a sneaker
          reselling website using React and an interactive mobile app for
          exploring the points of interest in Metz using React Cordova.
        </p>
        <p class="mt-4">
          I am currently in my final year of study at the University of Lorraine
          and I am eager to put my knowledge into practice and tackle new
          professional challenges.
        </p>
      </div>
    </div>

    <div class="flex flex-col mt-12 w-full">
      <h2 class="my-8 text-6xl self-start">Contact Me</h2>
      <div class="flex flex-col">
        <a href="https://www.linkedin.com/in/carl-noe/">
          <div class="relative flex w-full justify-between items-center p-4 h-24 bg-tertiary my-4 hover:opacity-75">
            <span class="font-main text-xl">Linkedin</span>
            <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-lg text-center underline">Carl-Noe</span>
            <img class="w-24" src="./assets/img/linkedin-icon.svg" alt="Linkedin logo" />
          </div>
        </a>
        <a href="https://github.com/carlnoe">
          <div class="relative flex w-full justify-between items-center p-4 h-24 bg-tertiary my-4 hover:opacity-75">
            <span class="font-main text-xl">GitHub</span>
            <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-lg text-center underline">carlnoe</span>
            <img class="w-24" src="./assets/img/github-icon.svg" alt="Github logo" />
          </div>
        </a>
        <a href="mailto:noe.carldev@gmail.com">
          <div class="relative flex w-full justify-between items-center p-4 h-24 bg-tertiary my-4 hover:opacity-75">
            <span class="font-main text-xl">Mail</span>
            <span class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-lg text-center underline">noe.carldev@gmail.com</span>
            <img class="w-24" src="./assets/img/gmail-icon.svg" alt="Mail logo" />
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
