<main class="px-[10%] flex flex-col justify-center items-center min-h-screen">
  <div class="flex flex-col w-2/3 justify-center bg-tertiary p-16">
    <div class="mb-3">
      <h2 class="text-dark text-muted">Login</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="flex flex-col">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button type="submit" class="main-btn mt-16">Submit</button>
    </form>
    <div class="my-2">
      <a routerLink="/register" class="text-blue-500">Register here !</a>
    </div>
  </div>
</main>
