<main class="px-[10%] flex flex-col justify-center items-center min-h-screen">
  <div class="flex flex-col w-2/3 justify-center bg-tertiary p-16">
    <div class="mb-3">
      <h2 class="text-dark text-muted">Register</h2>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
      class="flex flex-col"
    >
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="text-input"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="text-input"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button type="submit" class="main-btn mt-16">Submit</button>
    </form>
    <div class="my-2">
      <a routerLink="/login" class="text-blue-500"
        ><span class="text-white">Have an account ?</span> Login</a
      >
    </div>
  </div>
</main>
