<main
  class="h-screen overflow-hidden relative bg-[url('./assets/img/cbum.gif')] bg-right-top bg-no-repeat bg-contain"
> 
  <div class="w-full h-full bg-black bg-opacity-60 absolute top-0 left-0 z-0"></div>
  <div
    class="h-full absolute z-10 px-[10%] pb-[5vh] flex flex-col justify-center items-start"
  >
    <h1 class="text-7xl 2xl:text-8xl 3xl:text-9xl font-main w-2/3 my-4">
      Get a workout routine that sticks
    </h1>
    <p class="w-2/3 my-4">
      Build the perfect workout routine with our free and easy-to-use builder
      tool.
      <br />
      Can't decide? Browse through our community-created workouts and find a
      plan that works for you.
    </p>
    <button
      routerLink="/register"
      class="main-btn hover:bg-primary hover:text-secondary"
    >
      GET STARTED !
    </button>
  </div>
  <div
    class="h-[200vh] rotate-12 w-[75vw] bg-primary absolute left-[-25vw] top-[-20vh]"
  ></div>
</main>
