@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: white;
}

::-moz-selection {
  background: #00B2FF;
}

::selection {
  background: #00B2FF;
}