@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: white;
}

::-moz-selection {
  background: #00B2FF;
}

::selection {
  background: #00B2FF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1E1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00B2FF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 178, 255, 0.8);
}


// Base styles

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-main;
    @apply font-bold;
  }

  h2 {
    @apply text-4xl;
    @apply font-main;
    @apply font-bold;
  }

  h3 {
    @apply text-3xl;
    @apply font-main;
    @apply font-bold;
  }
}

@layer components {
  .main-btn {
    @apply bg-secondary;
    @apply font-main;
    @apply py-2;
    @apply px-4;
    @apply my-2;
    @apply text-lg;
    @apply border-secondary;
    @apply border-2;
    @apply transition-all;
  }

  .text-input {
    @apply bg-tertiary;
    @apply border-none;
    @apply px-6;
    @apply py-2;
  }
}